/* GLOBAL SETTINGS */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);

::selection {
    background: #175B5F;
    color: #fff;
}
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #222;
}
h1 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5em;
}
h3 {
    font-size: 28px;

}
p {
    font-size: 21px;
}
ul {
    list-style: none;
}
a:hover, a:focus {
    text-decoration: none;
}
header {
     max-width: 100%;
    margin-bottom: 65px;
}
.row {
    margin-right:  0;
  margin-left:  0;
}
.modal-block {
    padding: 5em 0 0 0;
}
footer {
    padding: 5em 0 2em 0;
    font-size: 18px;
}

/* CUSTOM SETTINGS */

.navbar {
    width: 100%;
    max-width: 100%;
    background: #000;
    height: 65px;
    border: none;
    margin-bottom: 0;
    border-radius: 0;
}
#brand {
    position: relative;
    top: 5px;
}
#mainNav {
    float: right;
    height: 65px;
    
}
#mainNav li {
    display: inline-block;
    float: left;
    padding: 20px;    
}
#mainNav a {
    vertical-align: middle;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
#langNav {

    float: right;
}
#langNav li {
    display: inline;
}
#langNav li  a {
    display: inline-block;
    background: #000;
    height: 23px;
    width: 25px;
    color: #fff;
    padding: 2px 3px;
}
.currentLang  a{
   background: #fff !important;
    color: #000 !important;
}
#headSection {
    background: url(../img/banner-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 526px;
    width: 100%;
    margin: 0;
   
}
#gallerySection {
    margin-top:2em;
}
.project-item {
    position: relative;
    width: 32.2%;
    margin-top: .5%;
    margin-left: .5%;
    height: 350px;
    z-index: 155;
}
.project-item:hover {
    background: #175B5F;
    transition: .3s ease;
     z-index: 155;
}
.project-item:hover .imageshow {
    opacity: .2;
     transition: .3s ease;
}
.project-item .imageshow  {
    position: relative;
    margin: 0;
    width: 100%;
    height: auto;
        z-index: 0;
}
.project-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
}

.project-item:nth-child(1) {
    flex: 0 1 auto;
}
.project-item:nth-child(2) {
    flex: 0 1 auto;
}
.project-item:nth-child(3) {
    flex: 0 1 auto;
}
.project-item:nth-child(4) {
    flex: 0 1 auto;
}
.project-item:nth-child(5) {
    flex: 0 1 auto;
}
.project-item:hover .projectInfo {
    visibility: visible;
}
.projectInfo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin-top: 9em;
    visibility: hidden;
}
.typeofWork, .projectName {
    color: #fff;
}
.typeofWork {
    font-size: 18px;
}
.projectName {
    font-weight: 700;
    font-size: 24px;
}
.seemore, .link {
    position: absolute;
    bottom: 10px;
}
.link {
    right: 10px;
}
.seemore {
    right:40px
}
#mainHeading {
    font-size: 72px;
    font-weight: 800;
    margin-top: 2.3em;
    color: #fff;
}
#bioInfo {
    padding-bottom: 0em;
}
#bioInfo img {
    margin-top: 2.5em;
    width: 100%;
} 
#bioInfo p {
    margin-top: 4em ;
    font-size: 21px;
}
.button-regular {
    background: #e8e8e8;
    border-radius: 0;
    padding: 18px;
    color: #000;
    font-weight: 700;
    font-size: 21px;
    transition: .1s;
    position: relative;
    top: 30px;
}
.button-regular:hover {
    background: #175B5F;
    color: #fff;
}
#skillSection {
    background: #175B5F;
    color: #fff;
    padding-top: 5em;
}
#skillInner {
    font-size: 21px;
    text-align: center;
     padding-bottom: 5em;
}
.modal-content {
    border-radius: 0;
    padding: 0 1em 1em 1em;
}
#certifactes {
    text-align: left;
    font-size: 18px;
    padding: 0 ;
}
#certifactes li {
    line-height: 2;
    border-bottom: 1px solid #ddd;
}
#certifactes a {
    color: #175B5F;
     transition: .3s ease-in-out;
}
 #certifactes a:hover {
      margin-left: 5px ;
     transition:  .4s;
 }
#certifactes a:after {
    visibility: hidden;
    position: relative;
    content: url(../img/but-arrow.png);
    margin-left: 2px;
    transition:  .2s;
    top: 3px;
}
 #certifactes a:hover:after{
    visibility: visible;
    color: #175B5F;
    margin-left: 10px;
    top: 3px;
    transition: .5s;
}
.modal-title {
    color: #175B5F;
    font-weight: 700;
    font-size: 21px;
}

/* CONTACT SECTION */

.form-horizontal h3{
    margin-bottom: 1.2em;
}
.form-control {
    background: #e8e8e8;
    height: 50px;
    border-radius: 0;
    border: 1px solid #ebebeb;
    font-size: 18px;
}
.btn[type="submit"] {
    border-radius: 0;
    background: #e8e8e8;
    color: #000;
    font-size: 21px;
    padding: 8px 16px;
    font-weight: 700;
    transition: .1s;
}
.btn[type="submit"]:hover {
    background: #175B5F;
    color: #fff;
}
.right-part-contact {
    margin-top: 5.5em;
}
#mail {
    font-size: 21px;
    color: #175B5F;
}
.social-media a {
    position: relative;
    top: 0;
    margin-left: 5px;
     transition: .2s ease-in-out;
}
.social-media a:first-child {
    margin-left: 0;
}
.social-media a:hover {
    position: relative;
    top: 5px;
    transition: .3s;
}
@media (max-width: 768px) {
    h1 {
    font-size: 60px;
}
     #mainHeading {
    font-size: 60px;

    }
     #headSection {
    background-position: center;

    }
    .project-gallery {
    flex-direction: column;
}
    .project-item {
    position: relative;
    width: 100%;
    margin-top: .5%;
    margin-left: .5%;
    height: 350px;
    z-index: 155;
    overflow: hidden;
    }
     .project-item .imageshow  {
         
     }
}
@media (max-width: 480px) {
     #headSection {
    height: 260px;
   
    }
    .project-gallery {
    flex-direction: column;
}
    .project-item {
    height: 150px;

    }
    
    #mainHeading {
    font-size: 42px;
    margin-top: 1em;
    text-align: left;
    padding-left:5.5%;
    }
    #bioInfo p {
    margin-top: 0em ;
    font-size: 21px;
    }  
    h1 {
    font-size: 42px;
}
    
}